@import "fonts";
@import "color";

$mainColor: $gray1;
$fontFamily: 'Roboto Condensed', sans-serif;
$fontSize: 16px;

@import "null";


body{
  color: $mainColor;
  font-family: $fontFamily;
  font-size: $fontSize;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;


}