.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: #005382;
  color: #fff;
  transition: 0.3s;
  height: 42px;
  min-width: 42px;
  padding: 0px 18px;
  font-size: 14px;
  overflow: hidden;
  &:hover{
    background: #004164;
  }
  svg{
    max-height: 100%;
    object-fit: contain;
  }
}